* {
    text-align: center;
    background-color: rgb(172, 223, 220);
}

 h1.heading {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: rgb(67, 67, 67);
}

h1.subheading{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: rgb(67, 67, 67);
}

.todo-input {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(255, 251, 251);
    margin: 10px;
    font-size: 20px;
    background-color: rgb(205, 241, 240);
}

button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(67, 67, 67);
    margin: 10px;
    font-size: 20px;
    background-color: rgb(71, 154, 148);
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(67, 67, 67);
}